body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: black;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 1.3;
  background-color: #EFE9DD;
}

section {
  min-width: 500px;
  max-width: 1290px;
  padding: 2em;
  text-align: justify;
}

.zusatz {
  padding-top: 13px;
}

.bildbereich {
  float: right;
  width: 250px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.bildbereich img {
  width: 180%;
  height: auto;
}

ul {
  line-height: 1.7;
}

